<app-header></app-header>
<div class="img-container ">
    <div class="imgAndData">
        <div class="imgDiv">
            <img [src]="book.imageLink" alt="">
        </div>
        <div class="detail">
            <h2>Description</h2>
            <p>{{book.description}}</p>
        </div>
    </div>
    <div class="title">
        <h1>{{book.title}}</h1>
    </div>
    <div class="content">

        <div>
            <h5>Genre: {{book.genre}}</h5>
        </div>
        <div>
            <h5>Author:{{book.author}} </h5>
        </div>
        <div>
            <h5>Rating:{{book.rating}}</h5>
        </div>

    </div>
</div>
<div *ngIf="(!book.isBookAvailable&& UserFromDb.id>0)" class="borrBook d-flex justify-content-center">
    <button class="btn btn-primary d-flex align-items-center justify-content-center ">
        Not Available
    </button>
</div>
<div *ngIf="(UserFromDb.token>0 && UserFromDb.id>0 && book.isBookAvailable )" class="borrBook d-flex justify-content-center">
    <button (click)="checkToken()" class="btn btn-primary d-flex align-items-center justify-content-center "
    >
        Borrow
    </button>
</div>
<div *ngIf="(UserFromDb.id==0)" class="borrBook d-flex justify-content-center">
    <button (click)="LoginAlert()" class="btn btn-primary d-flex align-items-center justify-content-center "
        routerLink="/login">
        Borrow
    </button>
</div>
<app-footer></app-footer>