<footer>
    <div class="footer">
    <div class="roww">
        <a href="https://www.facebook.com/"> <i class=" topIcon fa-brands fa-square-facebook"></i></a>
        <a href="https://www.instagram.com/"> <i class="topIcon fa-brands fa-x-twitter"></i></a>
        <a href="https://in.pinterest.com/"><i class="topIcon fa-brands fa-pinterest"></i></a>
        <a href="https://twitter.com/x"><i class="topIcon fa-brands fa-instagram"></i></a>
        
    </div>
    
    <div class="row">
    <ul class="d-flex justify-content-evenly">
    <li><a href="#">Contact us</a></li>
    <li><a href="#">Our Services</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms & Conditions</a></li>
    <li><a href="#">Career</a></li>
    </ul>
    </div>
    
    <div class="row">
    <h4>Copyright © 2023 Library Website - All rights reserved || Designed By: Sachin</h4> 
    </div>
    </div>
    </footer>